@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Customize these variable */
  /* https://github.com/adamwathan/tailwind-css-variable-text-opacity-demo */
  --tw-clr-primary-50: 246 243 239;
  --tw-clr-primary-100: 227 219 206;
  --tw-clr-primary-200: 209 195 173;
  --tw-clr-primary-300: 191 171 141;
  --tw-clr-primary-400: 179 156 120;
  --tw-clr-primary-500: 147 122 83;
  --tw-clr-primary-600: 114 95 64;
  --tw-clr-primary-700: 82 68 46;
  --tw-clr-primary-800: 49 41 28;
  --tw-clr-primary-900: 16 14 9;

  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #f6f3ef */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #e3dbce */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #d1c3ad */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #bfab8d */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #b39c78 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #937a53 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #725f40 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #52442e */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #31291c */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #100e09 */

  --tw-clr-secondary-50: 239 241 246;
  --tw-clr-secondary-100: 206 214 227;
  --tw-clr-secondary-200: 173 187 209;
  --tw-clr-secondary-300: 141 160 191;
  --tw-clr-secondary-400: 120 143 179;
  --tw-clr-secondary-500: 83 108 147;
  --tw-clr-secondary-600: 64 84 114;
  --tw-clr-secondary-700: 46 60 82;
  --tw-clr-secondary-800: 28 36 49;
  --tw-clr-secondary-900: 9 12 16;

  --clr-secondary-50: rgb(var(--tw-clr-secondary-50)); /* #eff1f6 */
  --clr-secondary-100: rgb(var(--tw-clr-secondary-100)); /* #ced6e3 */
  --clr-secondary-200: rgb(var(--tw-clr-secondary-200)); /* #adbbd1 */
  --clr-secondary-300: rgb(var(--tw-clr-secondary-300)); /* #8da0bf */
  --clr-secondary-400: rgb(var(--tw-clr-secondary-400)); /* #788fb3 */
  --clr-secondary-500: rgb(var(--tw-clr-secondary-500)); /* #536c93 */
  --clr-secondary-600: rgb(var(--tw-clr-secondary-600)); /* #405472 */
  --clr-secondary-700: rgb(var(--tw-clr-secondary-700)); /* #2e3c52 */
  --clr-secondary-800: rgb(var(--tw-clr-secondary-800)); /* #1c2431 */
  --clr-secondary-900: rgb(var(--tw-clr-secondary-900)); /* #090c10 */

  --tw-clr-tertiary-50: 233 240 251;
  --tw-clr-tertiary-100: 190 211 243;
  --tw-clr-tertiary-200: 147 182 235;
  --tw-clr-tertiary-300: 104 153 227;
  --tw-clr-tertiary-400: 61 124 219;
  --tw-clr-tertiary-500: 36 99 194;
  --tw-clr-tertiary-600: 30 83 163;
  --tw-clr-tertiary-700: 20 55 108;
  --tw-clr-tertiary-800: 12 33 65;
  --tw-clr-tertiary-900: 4 11 22;

  --clr-tertiary-50: rgb(var(--tw-clr-tertiary-50)); /* #e9f0fb */
  --clr-tertiary-100: rgb(var(--tw-clr-tertiary-100)); /* #bed3f3 */
  --clr-tertiary-200: rgb(var(--tw-clr-tertiary-200)); /* #93b6eb */
  --clr-tertiary-300: rgb(var(--tw-clr-tertiary-300)); /* #6899e3 */
  --clr-tertiary-400: rgb(var(--tw-clr-tertiary-400)); /* #3d7cdb */
  --clr-tertiary-500: rgb(var(--tw-clr-tertiary-500)); /* #2463c2 */
  --clr-tertiary-600: rgb(var(--tw-clr-tertiary-600)); /* #1E53A3 */
  --clr-tertiary-700: rgb(var(--tw-clr-tertiary-700)); /* #14376c */
  --clr-tertiary-800: rgb(var(--tw-clr-tertiary-800)); /* #0c2141 */
  --clr-tertiary-900: rgb(var(--tw-clr-tertiary-900)); /* #040b16 */
}

@layer base {
  @font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background: rgb(var(--tw-clr-primary-200) / 0.69);
    color: rgb(var(--tw-clr-primary-800));
  }

  /* #region  /**=========== Typography =========== */
  h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-100));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

.tippy-tooltip [x-circle] {
  background-color: transparent !important;
}

.tippy-tooltip {
  padding: 0 0.8rem;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
